doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Biocorrector 17 | GIDI Invest
    meta(name='description', content='Biomedicine is one of the areas that GIDI INVEST AG is engaged in. We have created two types of bio-correctors (portable and stationary) that operate on electrical impulses which provide a positive effect on the human body by eliminating the negative environmental impact, and by stimulating and energizing human cells.')
    meta(name='keywords', content='GIDIINVEST, gidi invest, invest, Commune de Maxilly sur Leman, Departement de la Haute Savoie, BK-17 Biocorrector, BK-16 Biocorrector, Energy-saving electric power generator')
    meta(name='author', content='Andrey K.')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
  body
    include includes/header
    main
      section.fake-hero
        .hero-bg
        .bg-two(style="background:#6d9c40")
      section.new-hero
        .hero-bg
        .container.text-center
          .row
            .col-md-2
            .col-md-8
              h6 Investments in biomedicine
              h1.serif Biocorrector BK-17
            .col-md-3
            .col-md-6.col-sm-6.col-xs-12
              h5 Biomedicine is one of the areas that GIDI INVEST AG is engaged in. We have created two types of bio-correctors (portable and stationary) that operate on electrical impulses which provide a positive effect on the human body by eliminating the negative environmental impact, and by stimulating and energizing human cells.
              img(src="3/logo-green.png", alt="", style="width:150px;")
      
      section.move-hero
        #move-pic
          #move_move(style='transform: translateX(-271px);')
            img(src='2/b1.jpg')
            img(src='2/b5.jpg')
            img(src='2/b3.jpg')
            img(src='2/b4.jpg')
            img(src='2/b2.jpg')

      
      section.content(style="padding-top:0;")
        .container
           
          .row  
            .col-md-6
              ul.part-list
                li
                  a(href="#destination") Destination
                li
                  a(href="#structure") Structure
                li
                  a(href="#function") Function
                li
                  a(href="#technical") Technical features
                li
                  a(href="#operation") The operation procedure 
                li
                  a(href="#kit") Kit
                
                  
                  
            .col-md-6
              h4#destination Destination
              h5 The purpose of the biocorrector is to protect the human body from energetically harmful radiation, for further protection from harmful radiation of different origin.
              h4#structure Structure
              p The structure of the biocorrector refers to electronic generators of pulsed and alternating voltage. Sinusoidal, alternating voltage is applied to unified radiator, which is placed inside of the biocorrector's body.
              h4#function Function
              p The main function of this electronic device:
              ul
                li Normalization of psychological balance
                li Protection of person’s psychological condition, from a deliberate influence by another person from distance or from a technocratic device.
              p The main functional of the biocorrector is suitable for a large crowd of people. Malicious radiation can come not only from technogenic devices, but also from people. Arbitrarily or spontaneously.  Inadequate human behavior can lead to difficult effects, which can make big problems, especially:
              ul
                li Driving a car;
                li Airplanes management;
                li Military duty on sea crafts;
                li Protection of the country border;
                li Conducting of serious conversation, from which the fate of state depends on;
                li Signing of important contracts;
                li At places, where the life of person depends on the others people;
                
              h4#technical Technical features
              table
                tr
                  td Powered from internal battery
                  td 3.7 W
                tr
                  td Frequency of radiation, mHz
                  td 4.0 
                tr
                  td Dynamics of radiation
                  td Electromagnetic 
                tr
                  td Temperature of operating mode, deg
                  td 0 - 50 
                tr
                  td Dimensions of the device, mm
                  td 50 x 90 x16

              h4#operation The operation procedure 
              ul
                li Connect the biocorrector to the charger;
                li Switch on the biocorrector;
                li Place the emitter close to the person;
                li The device is ready for using.
              p The LED lamp on the emitter will turn to green light. Duration of biocorrector’s work is round-the-clock.
              h4#kit Kit
              p A charger is included in the biocorrector's kit. Charging time of internal battery is from 5 to 7 hours. Battery life time is from 3 to 5 days. The level of battery is showed during the process of using biocorrector.
              p When the battery is discharged, the green LED light should go out and do not respond on turning on and off the device. After charging the battery, the LED light will again turn into green.

      section.next-project(style="background-color: #8f7a6b; color: #fff;")
        .pic(style="background-image: url(3/bk171.jpg)")
        .container
          .row
            .col-md-6.col-xs-12
              p Next project →
              a(href="biocorrector-16.html" style="color: #fff;") BK-16 Biocorrector  
      
      include includes/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="js/scripts.js")







