doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Departement de la Haute — Savoie | GIDI Invest
    meta(name='description', content='New buildings on the Montigny business park in Montigny à Maxilly. Red, green and gray, these buildings will not only shelter craft activities but also ap-partments. ')
    meta(name='keywords', content='GIDIINVEST, gidi invest, invest, Commune de Maxilly sur Leman, Departement de la Haute Savoie, BK-17 Biocorrector, BK-16 Biocorrector, Energy-saving electric power generator')
    meta(name='author', content='Andrey K.')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
  body
    include includes/header
    main
      section.fake-hero
        .hero-bg
        .bg-two(style="background:#719ce0")
      section.new-hero
        .hero-bg
        .container.text-center
          .row
            .col-md-2
            .col-md-8
              h6 Investments in real estate
              h1.serif Departement de la Haute — Savoie
            .col-md-3
            .col-md-6.col-sm-6.col-xs-12
              h5 New buildings on the Montigny business park in Montigny à Maxilly. Red, green and gray, these buildings will not only shelter craft activities but also ap-partments. 
              img(src="3/LOGO INFINITI_COUL.png", alt="", style="width:150px; margin-top:30px")
      section.hero-picture
        .pic(style="background-image: url(3/hero-pic-estate-2.jpg)")
      section.hero-title
        .container
          .row
            
            .col-md-3.col-sm-2
              
            .col-md-6.col-sm-8.col-xs-12
              
              h4 On the ground floor will be the offices, the first floor storage space and the second apartment (with balconies) of the craftsman and his family.
              h4 But the latter can also choose to stay on two levels if he does not want to live on site. 124 parking spaces will be developed.
      
      section(style="background: #ebffeb;")
        img(src="3/c6.png", alt="")
      
      section.content
        .container
          .row
            .col-md-6
            .col-md-6
              
              h5 With panoramic views of the lake.
              
              
              p And so that families who have chosen to settle there forget the fact of living in an area of activities, Igor Iline has treated the architecture. "I do not like corrugated siding and homogeneous areas. The buildings will be colorful and the walls thick.
              h5 Maxilly activity zone: an extension of 1.5 hectare
              p The activity zone of Montigny, in Maxilly, currently only accommodates three companies: Jacquier Electricité, Magnin Métallerie and the Actini group. The Community of communes of the Evian Country became Community of communes of the Evian Country and the Abondance Valley (CCPEVA) has chosen to entrust the company Infiniti Development the development of an additional 1.5 ha
              
      section(style="background: #fff0f0;")
        img(src="3/c5.png", alt="")
        
      
      section.next-project(style="background: #e2dedb;")
        .pic(style="background-image: url(2/hero-b17.jpg)")
        .container
          .row
            .col-md-6.col-xs-12
              p Next project →
              a(href="biocorrector-16.html") BK-16 Biocorrector
      
      include includes/footer
          

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="js/scripts.js")







