header
  .container
    .row
      .col-xs-4
        a.projects-link(href="index.html") Projects
      .col-xs-4
        .logo-scale-box
          a(href="index.html")
            .logo-top(style="background-image: url(media/images/logo-top.png)")
            .logo-text(style="background-image: url(media/images/logo-text.png)")
      .col-xs-4.text-right
        a.contact-link(href="#footer") Contact