header
  .container
    .row
      .col-xs-4
        a.projects-link(href="#") Projects
      .col-xs-4
        .logo-scale-box
          a(href="index.html")
            .logo-top(style="background-image: url(media/images/logo-top.png)")
            .logo-text(style="background-image: url(media/images/logo-text.png)")
      .col-xs-4.text-right
        a.contact-link(href="#footer") Contact
        
  .under-header
    .container
      .row
        .col-md-12
          ul
            li
              a(href="commune-de-maxilly-sur-leman.html") Commune de Maxilly sur Leman
            li
              a(href="departement-de-la-haute-savoie.html") Departement de la Haute — Savoie
            li
              a(href="energy-saving-electric-power-generator.html") Energy-saving electric power generator
            li
              a(href="biocorrector-17.html") BK-17 Biocorrector
            li
              a(href="biocorrector-16.html") BK-16 Biocorrector  